html, body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  width: 1920px;
  height: 1080px;
  border-radius: 5px;
  box-shadow: 0 2px 30px rgba(black, .2);
  background: lighten(#EF5D5A, 10%);
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

.wave {
  opacity: 1;
  position: absolute;
  top: 3%;
  left: 50%;
  background: #e8e8e8;
  width: 2000px;
  height: 2000px;
  margin-left: -250px;
  margin-top: -250px;
  transform-origin: 50% 48%;
  border-radius: 43%;
  animation: drift 3000ms infinite linear;
}

.wave.-three {
  animation: drift 5000ms infinite linear;
  opacity: 1;
   background: #FFFFFF;
}

.wave.-two {
  animation: drift 7000ms infinite linear;
  opacity: 1;
  background: #f97a7a;
}

.box:after {
  content: '';
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(#e8a, 1), rgba(#def, 0) 80%, rgba(white, .5));
  z-index: 11;
  transform: translate3d(0, 0, 0);
}

.title {
  font-weight: bold;
  position: absolute;
  left: 0;
  top: 200px;
  width: 100%;
  z-index: 1;
  line-height: 100px;
  text-align: center;
  transform: translate3d(0, 0, 0);
  color: black;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: .4em;
  font-size: 50px;
  text-indent: .3em;
}

.break {
    position: absolute;
  left: 0;
  top: 300px;
  width: 100%;
  z-index: 1;
  line-height: 50px;
  text-align: center;
  transform: translate3d(0, 0, 0);
  color: black;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: .2em;
  font-size: 24px;
  text-shadow: 0 1px 0 rgba(black, .1);
  text-indent: .3em;
}

.link1 {
    position: absolute;
  left: 0;
  top: 350px;
  width: 100%;
  z-index: 1;
  line-height: 50px;
  text-align: center;
  transform: translate3d(0, 0, 0);
  color: black;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: .2em;
  font-size: 24px;
  text-shadow: 0 1px 0 rgba(black, .1);
  text-indent: .3em;
}

.link2 {
    position: absolute;
  left: 0;
  top: 400px;
  width: 100%;
  z-index: 1;
  line-height: 50px;
  text-align: center;
  transform: translate3d(0, 0, 0);
  color: black;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: .2em;
  font-size: 24px;
  text-shadow: 0 1px 0 rgba(black, .1);
  text-indent: .3em;
}

.link3 {
    position: absolute;
  left: 0;
  top: 450px;
  width: 100%;
  z-index: 1;
  line-height: 50px;
  text-align: center;
  transform: translate3d(0, 0, 0);
  color: black;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: .2em;
  font-size: 24px;
  text-shadow: 0 1px 0 rgba(black, .1);
  text-indent: .3em;
}

.link4 {
    position: absolute;
  left: 0;
  top: 500px;
  width: 100%;
  z-index: 1;
  line-height: 50px;
  text-align: center;
  transform: translate3d(0, 0, 0);
  color: black;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: .2em;
  font-size: 24px;
  text-shadow: 0 1px 0 rgba(black, .1);
  text-indent: .3em;
}

.link5 {
    position: absolute;
  left: 0;
  top: 550px;
  width: 100%;
  z-index: 1;
  line-height: 50px;
  text-align: center;
  transform: translate3d(0, 0, 0);
  color: black;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: .2em;
  font-size: 24px;
  text-shadow: 0 1px 0 rgba(black, .1);
  text-indent: .3em;
}

a:visited {
    color: black;
}

a:hover {
    color: grey;
    background-color: transparent;
    text-decoration: underline;
}

a:link {
		color: black
}

@keyframes drift {
  from { transform: rotate(0deg); }
  from { transform: rotate(360deg); }
}